<footer>
    <div class="footer-copyright">
        <p>&copy; 2024 Project Profiling, All Rights Reserved.</p>
       <p>
          <i class="far fa-envelope gmail-icon"   ></i>
          <i class="fab fa-whatsapp whatsapp-icon"  style="padding-left: 10px;"></i>
          <i  class="fab fa-facebook-square facebook-icon"  style="padding-left: 10px;"></i> 
          <i class="fab fa-instagram instagram-icon"  style="padding-left: 10px;"></i> 
          <i class="fab fa-youtube youtube-icon" style="padding-left: 10px;"></i>
          <i class="fab fa-twitter twitter-icon"  style="padding-left: 10px;"></i>
          <i class="fab fa-github github-icon" style="padding-left: 10px;"></i>
          <i class="fab fa-linkedin linkedin-icon" style="padding-left: 10px;"></i>
      </p>
      </div>
</footer>