/* styles.css */
body, html {
    height: 100%; /* Full height for the body and html */
    margin: 0; /* Remove default margin */
}

.container {
    display: flex;
    flex-direction: column; /* Arrange children in a column */
    min-height: 100vh; /* Minimum height to cover full viewport height */
}

app-header {
    flex: 0 0 auto; /* Do not grow or shrink, take only needed space */
}

router-outlet {
    flex: 1 1 auto; /* Allow to grow and take up remaining space */
}

app-footer {
    flex: 0 0 auto; /* Do not grow or shrink, take only needed space */
}

/* Optional: Add styles for header and footer */

